<style>
  .user_documents-verified {
    background: #fed853 !important;
  }
</style>
<div class="crayons-layout crayons-layout--3-cols crayons-layout--3-cols--drop-right-left">
  <div class="sidebar-wrapper sidebar-wrapper-left crayons-layout__sidebar-left">
  </div>
  <div class="thank-you-div">
    <h1>
      Congratulations :)
    </h1>
    <p>
      You've been verified successfully. Mail has been sent with account credentials
    </p>
  </div>
</div>
