<main class="articles-list crayons-layout__content">
  <!-- Center Content Div -->
  <div style="min-height: 90vh">
    <% @organizations.each do |project| %>
      <% if project.music_releases.first.present? %>
        <%= render partial: 'shared/project_card', locals: {project: project, music_release: project.music_releases.first, composer: project.composer_id.present? ? @composers[project.composer_id][0] : '', artist_side: true } %>
      <% end %>
    <% end %>
  </div>
</main>
