<!--<a href="/"><%#= community_name %></a> is a community of <%#= display_estimated_user_count? ? number_with_delimiter(estimated_user_count) : "" %> amazing <%#= community_members_label %>-->
Join Unitedbits, connect with <%= display_estimated_user_count? ? number_with_delimiter(estimated_user_count) : User.count %> amazing fans and music artists
