<p>
  Hey <%= @user.name %>!
</p>

<p>
  Congratulations! you've been verified successfully.
</p>

<p>
  Now your posts will no longer be private and all your posts are public now.
</p>

<p>
 Feel free to login from here: <a href="http://unitedbits.io/enter">login</a>
</p>
