Hey <%= @user.name %>!

Congratulations! you've been verified successfully

Below are the credentials, do not share these with anyone
Email: <%= @user.email %>
Password: Bits@870

Feel free to login from here: <a href="http://unitedbits.io/enter">login</a>
