<p>
  Hey <%= @user.name %>!
</p>

<p>
  Congratulations! you've been verified successfully
</p>

<p>
  Below are the credentials, do not share these with anyone
  Email: <%= @user.email %>
  Password: <%= @user.password %>
</p>

<p>
 Feel free to login from here: <a href="http://unitedbits.io/enter">login</a>
</p>
