<p>
  Hey <%= @user.name %>!
</p>

<p>
  We're sending this email to inform you that your first step verification has been approved.
</p>

<p>
  Please fill the form below and provide us with the required details to get full access of your account
</p>

<p>
  Form link:  <strong><%= link_to "click here", app_url(new_user_document_path(user_id: @user.id)) %></strong> to fill the information.
</p>
