<p>
  Hey <%= @user.name %>!
</p>

<p>
  We're sending this email to inform you that you need to verify your account information and confirm banking details to receive payments for your services.
</p>

<p>
  Please fill the form below and provide us with the required details to get full access of your account
</p>

<p>
  Form link:  <strong><%= link_to "click here", app_url(new_user_document_path(user_id: @user.id)) %></strong> to fill the information.
</p>

<p>
  <strong>Reminder: </strong> You used to authenticate your account, so use any of those to sign in if prompted.
</p>

<p>
  Don't want to get emails like this? Adjust your email settings <a href="http://unitedbits.io/settings/notifications"> here</a>
</p>
