<p>Welcome <%= @email %>!</p>
<br>
<p>Hi there,</p>
<br>
<p>Yotta here from UnitedBits. Noticed that you just joined UnitedBits. How things work?</p>
<br>
<p>Verify your email account to establish a communication channel and access your account</p>
<p>Setup your online business using the Music-Business launcher.</p>
<p>Verify your banking account details to receive commissions and payments</p>
<p>Once you are ready tos start accepting commissions notify us to start your business in unitedbits.</p>
<br><br>
<p>Here are two resources you might find useful as you navigate the UnitedBits:</p>
<p>Business launcher features, to help you explore the potential of your platform.</p>
<p>Direct messaging feature, to communicate with us your needs. Hop on to start building your business and community.</p>
<p>Hope that helps!</p>
<br>
<h3>Confirm Email to proceed</h3>
<p>You can confirm your account email through the link below:</p>

<p><%= link_to "Confirm my account", confirmation_url(@resource, confirmation_token: @token) %></p>
<br><br><br>
<p>Yotta</p>
