<%= content_for :page_meta do %>
  <meta property="og:description" content="unitedbits playlists" />
  <meta property="og:site_name" content="<%= community_qualified_name %>" />
<% end %>
<div class="home">
<div id="sidebar-wrapper-left" class="sidebar-wrapper sidebar-wrapper-left">
  <div class="sidebar-bg" id="sidebar-bg-left"></div>
  <div class="side-bar">
    <div class="widget podcast-pic-widget">
      <header>
        <a href="/playlists"><h4>playlists</h4></a>
      </header>
      <div class="widget-body">
        <p><a class="suggest-podcast" href="/playlists/new">Create a Playlist</a></p>
      </div>
    </div>
  </div>
</div>

<div class="articles-list">
  <div class="substories">
    <a href="/asdasdasdsad/asdasdasd" class="small-pic-link-wrapper" id="article-link-27">
    </a><div class="single-article single-article-small-pic single-article-single-podcast"><a href="/asdasdasdsad/asdasdasd" class="small-pic-link-wrapper" id="article-link-27">
    <div class="small-pic">
      <img alt="test" width="240" height="240" src="https://res.cloudinary.com/dyzicyjzq/image/fetch/s--llw2p2iR--/c_imagga_scale,f_auto,fl_progressive,h_240,q_auto,w_240/https://studioappbucket.s3.amazonaws.com/uploads/podcast/image/12/14cbf324-f86c-4e56-b221-0c3828ab1f42.png">
    </div>
    <div class="content">
      <h3><span class="tag-identifier">podcast</span>test</h3>
    </div>
  </a><h4><a href="/asdasdasdsad/asdasdasd" class="small-pic-link-wrapper" id="article-link-27">
  </a><a href="/asdasdasdsad">
    Test Podcasttttttt
  </a>
  </h4>
  </div>
  </div>
</div>
</div>
